
.vs/Sparky/v16/.suo
.vs/Sparky/v16/Browse.VC.db
.vs/Sparky/v16/Browse.VC.db-shm
.vs/Sparky/v16/Browse.VC.db-wal
.vs/Sparky/v16/Browse.VC.opendb
.vs/Sparky/v16/ipch/AutoPCH/63a167c5091513a8/MAIN.ipch
